.show{
display:block;
}

.right{
  float: right;
  align-items: center;
}
.right .bg-primary{
margin-left: 0px;
/* align-items: flex-end; */
 
  padding: 10px;
  border-radius: 10px;
  border: none;

}
